.container{
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .app{
        height: 100vh;
        max-width: 850px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
       
        

        @media screen and (max-width: 750px){
            height: 100%;
            width: 100%;
            margin: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
      
    }
}

.container::before{
    content: "";
    position: absolute;
    z-index: -1;
    background: linear-gradient(190deg , $startGradient -35%, $endGradient 100%);
    top:0;
    left: -40px;
    width: 30%;
    height: 90%;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    
    @media screen and (max-width: 750px){
        width: 50%;
        height: 50%;
    }
}
.container::after{
    content: "";
    z-index: -1;
    position: absolute;
    background:$placeholderText;
    opacity: .3;
    bottom:0;
    right: -90px;
    width: 30%;
    height: 90%;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;

    @media screen and (max-width: 750px){
        width: 50%;
        height: 60%;
       
    }
}